body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #4CAF50;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.header-right .button {
    background-color: white;
    color: #4CAF50;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    border: 1px solid #4CAF50;
    border-radius: 4px;
}

.header-right .button:hover {
    background-color: #276629; /* Fundo verde ao passar o mouse */
    color: white;
}

.header-right a {
    background-color: white;
    color: #4CAF50;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    border: 1px solid #4CAF50;
    border-radius: 4px;
}

.header-right a:hover {
    background-color: #276629; /* Fundo verde ao passar o mouse */
    color: white;
}

.header-right a span {
    color: #4CAF50;
}

.header-right a:hover span {
    background-color: #276629; /* Fundo verde ao passar o mouse */
    color: white;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: white;
}

h2 {
    color: #4CAF50;
}

footer {
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
}

footer p {
    text-align: center;
}

p {
    margin: 10px 0;
    text-align: justify;
}
h1 a {
    color: white;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

.team {
    display: flex;
    flex-direction: column;  /* Mantém os membros na coluna */
    justify-content: flex-start; /* Alinha os membros à esquerda */
    align-items: flex-start;  /* Garante que tudo fique alinhado à esquerda */
    width: 100%;
}

.team-member {
    display: flex;
    flex-direction: row;  /* Organiza a imagem e as informações na mesma linha */
    align-items: center;  /* Alinha a imagem e as informações verticalmente */
    margin: 20px 0;  /* Espaço entre os membros (vertical) */
    width: 100%;  /* A largura ocupará 100% da área disponível */
    max-width: 100%; /* Garante que o membro ocupe toda a largura possível */
}

.member-image {
    width: 100px; /* Tamanho da imagem */
    height: 100px; /* Tamanho da imagem */
    border-radius: 50%; /* Faz a imagem ficar redonda */
    object-fit: cover; /* Ajusta a imagem para cobrir a área sem distorção */
    margin-right: 15px; /* Espaço entre a imagem e as informações */
}

.member-info h3 {
    text-align: left; /* Alinha as informações à esquerda */
}

.member-info h3 {
    margin: 0; /* Remove a margem do nome */
    font-size: 16px; /* Tamanho do nome */
}

.contributions {
    padding: 0;
    margin: 10px 0; /* Espaço entre a lista de colaborações e o link */
}

.contributions li {
    margin: 10px 0 0 50px;
    
}

a {
    text-decoration: none;
    color: #007bff; /* Cor do link */
}

a:hover {
    text-decoration: underline; /* Efeito de hover no link */
}

.social {
    width: 30px;
}