{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torrenfut</title>
    <link rel="stylesheet" href="{% static 'store/home.css' %}">
</head>
<body>
    <h1 style="text-align: center;">Torrenfut</h1>

    <ul class="gallery">
        {% for camiseta in camisetas %}
            <li>
                <!-- Certifique-se de que a imagem está sendo carregada corretamente -->
                <img src="{{ camiseta.imagem.url }}" alt="{{ camiseta.time }}" width="100%">
                <br>
                <!-- Link para o produto usando urlencode na temporada -->
                <a href="{% url 'produto' time=camiseta.time estilo=camiseta.estilo temporada=camiseta.temporada|urlencode %}">
                    {{ camiseta.time }} {{ camiseta.estilo }} {{ camiseta.temporada }}
                </a> - R$ {{ camiseta.valor_final|floatformat:2 }}
            </li>
        {% endfor %}
    </ul>
    
</body>
</html>
