{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torrenfut</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>

    <!-- Cabeçalho -->
    <header class="header">
        <div class="header-left">
            <h1><a href="/store">Torrenfut</a></h1> <!-- Nome do site à esquerda -->
        </div>
        <div class="header-center">
            <div class="buscar">
                <input id="inputBusca" onkeyup="filtrar()" type="text" placeholder="O que você procura?">
            </div>
        </div>
        <div class="header-right">
            <!-- Botões de login e cadastro -->
            {% if user.is_authenticated %}
                <a href="{% url 'perfil' %}" style="text-decoration: none; color: black;">
                    <span>{{ user.first_name }} {{ user.last_name }}</span>
                </a>
                <a href="{% url 'ver_carrinho' %}" class="button carrinho-link" style="margin-left: 15px;">Ir para o Carrinho
                        <span id="carrinho-indicador">({{ carrinho_quantidade }})</span></a>
            {% else %}
                <a href="{% url 'login' %}" class="button">Login</a>
                <a href="{% url 'cadastro' %}" class="button">Cadastro</a>
            {% endif %}
        </div>
    </header>

    <!-- Conteúdo restante do site -->

    <div class="listaProdutosContainer">
        <ul id="listaProdutos">
            {% for camiseta in camisetas %}
                <li>
                    <a href="{% url 'produto' time=camiseta.time estilo=camiseta.estilo temporada=camiseta.temporada|urlencode %}">
                        <img src="{{ camiseta.imagem.url }}" alt="{{ camiseta.time }}" width="100%">
                    <span class="item-text">{{ camiseta.time }} {{ camiseta.estilo }} {{ camiseta.temporada }}</span></a>
                    
                </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function filtrar() {
            var input, filter, ul, li, span, i, txtValue, count = 0;

            // Obter valor de pesquisa e os elementos
            input = document.getElementById('inputBusca');
            ul = document.getElementById('listaProdutos');
            filter = input.value.toUpperCase();

            // Pegar todos os <li> dentro do <ul>
            li = ul.getElementsByTagName("li");

            // Se o campo estiver vazio, ocultar todos os itens
            if (filter === "") {
                ul.style.display = "none";
                for (i = 0; i < li.length; i++) {
                    li[i].style.display = "none";
                }
                return; // Sai da função se o campo estiver vazio
            }

            // Percorrer os <li> para verificar quais correspondem ao filtro
            for (i = 0; i < li.length; i++) {
                span = li[i].getElementsByClassName("item-text")[0]; // Seleciona o texto do item
                txtValue = span.textContent || span.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = ""; // Mostra o item se corresponder
                    count++;

                    // Destaque em negrito a parte correspondente
                    let regex = new RegExp(`(${filter})`, 'gi');
                    span.innerHTML = txtValue.replace(regex, "<strong>$1</strong>");
                } else {
                    li[i].style.display = "none"; // Esconde o item se não corresponder
                }
            }

            // Exibir ou ocultar a lista dependendo do número de correspondências
            ul.style.display = count === 0 ? "none" : "block";
        }
    </script>

    <!-- Restante do conteúdo da página -->
    <div class="container">
        <div class="filters">
            <form method="get" action="{% url 'filtrar_camisetas' %}">
                <ul>
                    <!-- Filtro de Tipo de Produto -->
                    <li>
                        <label for="tipo_produto">Produto:</label>
                        <select name="tipo_produto" id="tipo_produto">
                            <option value="">Selecione um tipo de produto</option>
                            {% for tipo in tipos_produto_disponiveis %}
                                <option value="{{ tipo.id }}" 
                                    {% if tipo.id|stringformat:"s" == request.GET.tipo_produto %} selected {% endif %}>
                                    {{ tipo.nome }}
                                </option>
                            {% endfor %}
                        </select>
                    </li>
                <!-- Filtro de liga-->
                <li>
                    <label for="liga">Liga:</label>
                    <select name="liga" id="liga">
                        <option value="">Selecione uma liga</option>
                        {% for liga in ligas_disponiveis %}
                            <option value="{{ liga.id }}" 
                                {% if liga.id|stringformat:"s" == request.GET.liga %} selected {% endif %}>
                                {{ liga.nome }}
                            </option>
                        {% endfor %}
                    </select>
                </li>
                    <!-- Filtro de Time -->
                    <li>
                        <label for="time">Time:</label>
                        <select name="time" id="time">
                            <option value="">Selecione um time</option>
                            {% for time in times_disponiveis %}
                                <option value="{{ time.id }}" 
                                    {% if time.id|stringformat:"s" == request.GET.time %} selected {% endif %}>
                                    {{ time.nome }}
                                </option>
                            {% endfor %}
                        </select>
                    </li>

                    <!-- Filtro de Marca -->
                    <li>
                        <label for="marca">Marca:</label>
                        <select name="marca" id="marca">
                            <option value="">Selecione uma marca</option>
                            {% for marca in marcas_disponiveis %}
                                <option value="{{ marca.id }}" 
                                    {% if marca.id|stringformat:"s" == request.GET.marca %} selected {% endif %}>
                                    {{ marca.nome }}
                                </option>
                            {% endfor %}
                        </select>
                    </li>

                    <!-- Filtro de Cor -->
                    <li>
                        <label for="cor">Cor:</label>
                        <select name="cor" id="cor">
                            <option value="">Selecione uma cor</option>
                            {% for cor in cores_disponiveis %}
                                <option value="{{ cor }}" 
                                    {% if cor == request.GET.cor %} selected {% endif %}>
                                    {{ cor }}
                                </option>
                            {% endfor %}
                        </select>
                    </li>

                    <!-- Filtro de Temporada -->
                    <li>
                        <label for="temporada">Temporada:</label>
                        <select name="temporada" id="temporada">
                            <option value="">Selecione uma temporada</option>
                            {% for temporada in temporadas_disponiveis %}
                                <option value="{{ temporada }}" 
                                    {% if temporada == request.GET.temporada %} selected {% endif %}>
                                    {{ temporada }}
                                </option>
                            {% endfor %}
                        </select>
                    </li>

                </ul>
                <button type="submit">Filtrar</button>
            </form>

            <div class="filtros-ativos">
                {% for filtro, valor in filtros_aplicados.items %}
                    <span class="filtro-tag">
                        {% if filtro == 'time' %}
                            Time: 
                            {% for time in times_disponiveis %}
                                {% if time.id|stringformat:"s" == valor %}
                                    {{ time.nome }}
                                {% endif %}
                            {% endfor %}
                        {% elif filtro == 'marca' %}
                            Marca: 
                            {% for marca in marcas_disponiveis %}
                                {% if marca.id|stringformat:"s" == valor %}
                                    {{ marca.nome }}
                                {% endif %}
                            {% endfor %}
                            {% elif filtro == 'tipo_produto' %}
                            Tipo: 
                            {% for tipo in tipos_produto_disponiveis %}
                                {% if tipo.id|stringformat:"s" == valor %}
                                    {{ tipo.nome }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {{ filtro|capfirst }}: {{ valor }}
                        {% endif %}
                        <a href="{% url 'filtrar_camisetas' %}?{% for key, val in request.GET.items %}{% if key != filtro %}{{ key }}={{ val }}&{% endif %}{% endfor %}" class="remover-filtro">×</a>
                    </span>
                {% endfor %}
            </div>
        </div>
        
        <ul class="gallery">
            {% for camiseta in camisetas %}
                <li>
                    <a href="{% url 'produto' time=camiseta.time estilo=camiseta.estilo temporada=camiseta.temporada|urlencode %}">
                    <img src="{{ camiseta.imagem.url }}" alt="{{ camiseta.time }}" width="100%"></a>
                    <br>
                    <a class="link" href="{% url 'produto' time=camiseta.time estilo=camiseta.estilo temporada=camiseta.temporada|urlencode %}">
                        {{ camiseta.time }} {{ camiseta.estilo }} {{ camiseta.temporada }}
                    </a>
                    <span class="preço">R$ {{ camiseta.valor_final|floatformat:2 }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <footer>
        <hr class="footer-divider">
        <div class="footer-content">
            <div class="footer-left">
                <a href="{% url 'sobre' %}" class="button">Sobre o projeto</a>
                <a href="{% url 'quem_somos' %}" class="button">Quem somos nós</a>
            </div>
            <div class="footer-right">
                <a href="https://github.com/GabrielCassola/Torrenfut" target="_blank" class="button">GitHub</a>
            </div>
        </div>
    </footer>

</body>
</html>
