{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ camiseta.time }} {{ camiseta.estilo }} {{ camiseta.temporada }}</title>
    <link rel="stylesheet" href="{% static 'store/produto.css' %}">
</head>
<body>
    <div class="container">
        <!-- Imagem da camisa -->
        <img src="{{ camiseta.imagem.url }}" alt="{{ camiseta.time }} {{ camiseta.estilo }}" />
        <!-- Informações do produto -->
        <div class="product-info">
            <h1>{{ camiseta.time }} {{ camiseta.estilo }}</h1>
            <p class="price">Preço: R${{ camiseta.preco }}</p>
        </div>
    </div>
    <p>Voltar para <a href="/store">página inicial</a></p>
</body>
</html>
