{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ camiseta.time }} {{ camiseta.estilo }} {{ camiseta.temporada }}</title>
    <link rel="stylesheet" href="{% static 'store/produto.css' %}">
</head>
<body>
    <div class="container">
        <!-- Imagem da camisa -->
        <img src="{{ camiseta.imagem.url }}" alt="{{ camiseta.time }} {{ camiseta.estilo }}" />
        
        <!-- Informações do produto -->
        <div class="product-info">
            <h1>{{ camiseta.time }} {{ camiseta.estilo }} {{ camiseta.temporada }}</h1>
            <p class="price">Preço: R${{ camiseta.preco }}</p>

            <!-- Botões de seleção de tamanhos -->
            <h3>Escolha o tamanho:</h3>
            <div class="btn-group">
                {% for tamanho in tamanhos %}
                    <button type="button"
                            class="btn-tamanho {% if tamanho.quantidade_em_estoque == 0 %}btn-desabilitado{% endif %}"
                            onclick="exibirEstoque('{{ tamanho.tamanho }}', '{{ tamanho.quantidade_em_estoque }}')"
                            {% if tamanho.quantidade_em_estoque == 0 %}disabled{% endif %}>
                        {{ tamanho.tamanho }}
                    </button>
                {% endfor %}
            </div>

            <!-- Exibição da quantidade de estoque -->
            <div class="stock-info">
                <h4>Quantidade em estoque: <span id="estoque">Selecione um tamanho</span></h4>
            </div>
        </div>
    </div>
    <p>Voltar para <a href="/store">página inicial</a></p>

    <script>
        const buttons = document.querySelectorAll('.btn-tamanho')

        function exibirEstoque(tamanho, quantidade) {
            document.getElementById('estoque').textContent = quantidade;
        }

        buttons.forEach(button => {
            button.addEventListener('click', function(){
                buttons.forEach(btn => btn.classList.remove('selected'));
                this.classList.add('selected')
            })
        })

    </script>
</body>
</html>
