{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="{% static 'css/quem_somos.css' %}">
    <link rel="icon" type="image/x-icon" href="/media/icones/icone.png">
</head>
<body>
    <header class="header">
        <div class="header-left">
            <h1><a href="/store">Torrenfut</a></h1> <!-- Nome do site à esquerda -->
        </div>
        <div class="header-right">
            {% if user.is_authenticated %}
                <a href="{% url 'perfil' %}" style="text-decoration: none; color: black;">
                    <span>{{ user.first_name }} {{ user.last_name }}</span>
                </a>
                <a href="{% url 'ver_carrinho' %}" class="button carrinho-link" style="margin-left: 15px;">Ir para o Carrinho
                        <span id="carrinho-indicador">({{ carrinho_quantidade }})</span></a>
            {% else %}
                <a href="{% url 'login' %}" class="button">Login</a>
                <a href="{% url 'cadastro' %}" class="button">Cadastro</a>
            {% endif %}
        </div>
    </header>

    <div class="container">
        <h2>Quem Somos</h2>
        <p>
            Somos estudantes do curso de Sistemas de Informação da UNESP, atualmente no 6º semestre. Nossa trajetória é movida pela paixão por tecnologia, inovação e a busca constante por soluções que possam transformar desafios em oportunidades.
        </p>
        <p>
            Combinando teoria e prática, adquirimos competências que nos permitem compreender e desenvolver sistemas computacionais eficientes e inteligentes. 
        </p>
        <h2>Membros</h2>
        <div class="team">

            <div class="team-member">
                <img src="/media/Colaboradores/Gabriel.jpg" alt="Gabriel" class="member-image">
                <div class="member-info">
                    <h3>Gabriel de Almeida Farias Cassola</h3>
                    <ul class="contributions"><b>Contribuições:</b>
                        <li>Dev Fullstack</li>
                        <li>Banco de dados</li>
                    </ul>
                    <a href="https://www.linkedin.com/in/gabriel-almeida-cassola/" target="_blank"><img src="/media/icones/linkedin.png" class="social"></a>
                    <a href="https://github.com/GabrielCassola/" target="_blank"><img src="/media/icones/github.png" class="social"></a>

                </div>
            </div>

            <div class="team-member">
                <img src="/media/Colaboradores/Pedro.jpg" alt="Pedro" class="member-image">
                <div class="member-info">
                    <h3>Pedro Israel da Rocha Smith</h3>
                    <ul class="contributions"><b>Contribuições:</b>
                        <li>Dev Backend</li>
                        <li>Testes unitários + Continuos Integration com Github Actions</li>
                    </ul>
                    <a href="https://www.linkedin.com/in/pedroirsmith/" target="_blank"><img src="/media/icones/linkedin.png" class="social"></a>
                    <a href="https://github.com/PedroSmithhh/" target="_blank"><img src="/media/icones/github.png" class="social"></a>
                </div>
            </div>

            <div class="team-member">
                <img src="/media/Colaboradores/Guilherme.jpg" alt="Guilherme" class="member-image">
                <div class="member-info">
                    <h3>Guilherme ferreira Gonçalves</h3>
                    <ul class="contributions"><b>Contribuições:</b>
                        <li>Dev Frontend</li>
                    </ul>
                    <a href="http://www.linkedin.com/in/guifgon" target="_blank"><img src="/media/icones/linkedin.png" class="social"></a>
                    <a href="https://github.com/guilhermefgonc/" target="_blank"><img src="/media/icones/github.png" class="social"></a>
                </div>
            </div>


            <div class="team-member">
                <img src="/media/Colaboradores/Rafaela.jpg" alt="Rafaela" class="member-image">
                <div class="member-info">
                    <h3>Rafaela Issa Tonon</h3>
                    <ul class="contributions"><b>Contribuições:</b>
                        <li>Auditoria e documentação dos processos</li>
                    </ul>
                    <a href="https://www.linkedin.com/in/rafaela-tonon-47b979309/" target="_blank"><img src="/media/icones/linkedin.png" class="social"></a>
                    <a href="https://github.com/RafaelaTonon/" target="_blank"><img src="/media/icones/github.png" class="social"></a>
                </div>
            </div>

        </div>
    </div>
    </div>

    <footer>
        <p>&copy; 2024 Torrenfut | UNESP Bauru - Sistemas de Informação</p>
    </footer>
</body>
</html>
