.container {
    display: flex;            /* Ativa o Flexbox para o contêiner */
    margin: 20px;           /* Espaçamento externo */
}

.filters {
    flex: 1;                 /* Permite que os filtros ocupem 1 parte do espaço */
    margin-right: 20px;     /* Espaço à direita dos filtros */
}

.gallery {
    flex: 3;                 /* Permite que as camisetas ocupem 3 partes do espaço */
    display: flex;           /* Ativa o Flexbox para a galeria de camisetas */
    flex-wrap: wrap;        /* Permite que os itens quebrem para a próxima linha */
    justify-content: center; /* Centraliza os itens */
}

.gallery li {
    margin: 20px;           /* Espaço entre as camisetas */
    list-style: none;       /* Remove os marcadores da lista */
    width: 250px;           /* Largura fixa para cada item */
}

.gallery li:hover {
    transform: scale(1.05);
}

img {
    max-width: 100%;        /* Imagem ocupa 100% do espaço disponível */
    height: 300px;          /* Mantém a proporção da imagem */
}

.button {
    background-color: #4CAF50; /* Cor verde */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #45a049;
}

.link {
    text-align: center;
    text-decoration: none;
    color: #000000;
    display: block;
    font-size: 16px;
}

.link:hover {
    text-decoration: underline;
}

.preço {
    display: block;              
    text-align: center;     
    font-weight: bold;        
    margin-top: 10px;     
    font-size: 18px;  
}
