{ % load static % }

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{ % static 'forms.css' % }">
</head>
<body>
    <h2>Login de Cliente</h2>
<form method="post">
    {% csrf_token %}
    <label for="email">E-mail:</label>
    <input type="email" name="email" required>
    <label for="password">Senha:</label>
    <input type="password" name="password" required>
    <button type="submit">Entrar</button>
</form>

</body>
</html>