{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'forms_login.css' %}">
    <link rel="icon" type="image/x-icon" href="/media/icone.png">
</head>
<body>
    <div class="container">
        <h2>Login de Cliente</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
        <p class="cadastro">Não tem login? <a href="/clientes/cadastro">Cadastre-se agora!</a></p>
        <p class="back-link">Voltar para <a href="/store">página inicial</a></p>
    </div>
</body>
</html>
