{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
    <link rel="stylesheet" href="{% static 'css/forms_cadastro.css' %}">
    <link rel="icon" type="image/x-icon" href="/media/icones/icone.png">

</head>
<body>
    <div class="container">
        <h1>Cadastro de Cliente</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <!-- Adiciona o título com mensagens de erro no input -->
                    {{ field }}
                    {% if field.errors %}
                        <script>
                            document.getElementById("{{ field.id_for_label }}").setAttribute("title", "{{ field.errors|join:', ' }}");
                        </script>
                    {% endif %}
                    <!-- Exibe as mensagens de erro ao lado do campo normalmente -->
                    {% for error in field.errors %}
                        <small class="error-message">{{ error }}</small>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit">Cadastrar</button>
            <p class="back-link">Voltar para <a href="/store">página inicial</a></p>
        </form>
        

</body>
</html>
