<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    {% block content %}
    <div class="perfil-cliente">
      <h2>Perfil de {{ user.first_name }} {{ user.last_name }}</h2>
      
      <p><strong>Nome completo:</strong> {{ user.first_name }} {{ user.last_name }}</p>
      <p><strong>E-mail:</strong> {{ user.email }}</p>
      
      <p>Voltar para <a href="/store">página inicial</a></p>
  
      <!-- Botão de logout -->
      <form method="post" action="{% url 'logout' %}" style="margin-top: 20px;">
        {% csrf_token %}
        <button type="submit" class="btn-logout">Sair</button>
      </form>
    </div>
  {% endblock %}
</body>
</html>